body {
	background: #6ae3e8;
	background: -moz-linear-gradient(top, #6ae3e8 100%, #4bf2b4 100%);
	background: -webkit-linear-gradient(top, #6ae3e8 100%,#4bf2b4 100%);
	background: linear-gradient(to bottom, #6ae3e8 100%,#4bf2b4 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6ae3e8', endColorstr='#4bf2b4',GradientType=0 )
}

canvas {
	border: 5px solid white;
}
